### Directory-based project format:
.idea/
# .idea/workspace.xml
# **/.idea/workspace.xml

### Plasma 5 .directory files
# */.directory
.directory

### Custom scratch files
scratch/

### Staging area and releases
PhasePharmer/staging/
PhasePharmer/staging/*
# PhasePharmer/staging/*/VERSION

### Developer documentation
# PhasePharmer/docs/*
# PhasePharmer/img/*

### Archives
# archives

### github folder
# .github

### Lock files
.~lock*