### Directory-based project format:
# **/.idea/*
.idea/workspace.xml
**/.idea/workspace.xml

### Plasma directory files
**/.directory*

### Scratch files
scratch/

### Generated site files for Jekyll
_site.old/
docs/_site

### Lock files
.~lock*

### SASS cache folders
.sass-cache/
/docs/.sass-cache/

### Ruby folder and Bundler config folder
/ruby/
/.bundle/
/devel/
/_site/
