### Directory-based project format:
/.idea

### Plasma 5 .directory files
**/.directory*

### Custom scratch files
scratch/

### generated site files for Jekyll
_site/
docs/_site

### Lock files
.~lock*
.sass-cache/
/docs/.sass-cache/
