@import "{{ site.theme }}";

a {
    color: rgba(250, 0, 0, 1.0);
}

a:hover {
    color: rgb(150, 150, 150);
    border-color: rgba(0, 0, 0, 0.0);
    text-shadow: 2px 2px black;
}

body {
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 770px;
    z-index: 1;
}

button {
    padding: 0;
}

button option {
    font-size: 1.3em;
}

h1 {
    color: rgba(160, 0, 0, 1.0);
}

h2 {
    color: #ffffff;
    font-size: 2.0em;
    text-align: right;
    text-shadow: 1px 1px #000000;
    margin: 0;
    font-family: "FreeMono", monospace;
    letter-spacing: 0.65em;
}

h3 {
    font-weight: normal;
}

h4 {
    margin: 5px 0 5px;
}

html {
    font-size: 100%;
    height: 100vh;
}

img {
    display: inline-block;
    list-style: none;
}

input {
    text-shadow: 1px 1px #ffffff;
    font-size: 1.3em;

}


li {
    margin: 10px;
}


p {
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}

section {
    max-width: 750px;
    padding: 0;
    margin: 0;
}

select {
    font-size: 1.3em;
}

table {
    margin: 0;
    width: 100%;
}

td {
    padding: 0 5px;
    color: white;
}

ul {
    list-style: none;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
}

.center {
    text-align: center;
}

.copy-txt {
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    display: block;
    grid-row: 1;
    grid-column: 1;
    width: auto;
    max-width: 1000px;
}

.descript-txt {
    margin: 10px 0;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.info-area {
    display: grid;
    border: 2px inset rgba(170, 0, 0, 0.70);
    padding: 10px;
    min-height: 443px;
}

.input-style {
    margin: 0;
    height: 40px;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-family: "FreeMono", monospace;
    background-color: rgba(32, 32, 32, 0.70);
    outline: none;
    font-size: 1.2em;
}

.page-section {
    background: rgba(50, 50, 50, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.phase-txt {
    grid-row: 1;
    grid-column: 1;
}

.phase-txt, .descript-txt {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    display: grid;
    width: auto;
}

#bkgrd {
    width: 100%;
    height: max-content;
    min-height: 912px;
    background: url("../img/backgrnd.jpeg") no-repeat fixed center,
    url("../img/pg_logo.png") no-repeat fixed center;
    background-blend-mode: hard-light;
    z-index: -1;
    top: 0;
    overflow: clip;
}

#box-fx-area {
    display: grid;
    height: 100%;
    padding-left: 40px;
    grid-row: 2;
    grid-column: 1;
}

#box-fx-neg {
    height: 50px;
    padding: 5px;
    grid-row: 1;
    grid-column: 2;
    width: 250px;
}

#box-fx-pos {
    height: 50px;
    padding: 5px;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

#box-fx-title {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

#box-fx-txt {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

#box-fx-pos tbody tr td {
    color: #00ff00;
    font-weight: normal;
    text-shadow: black 1px 1px;
}


#box-fx-neg tbody tr td {
    color: #ff1f1f;
    font-weight: normal;
    text-shadow: black 1px 1px;
}

#box-fx-pos tbody tr td, #box-fx-neg tbody tr td {
    text-align: left;
    font-size: 18px;
    border: none;
    width: 250px;
}

#box-info {
    text-align: left;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    min-height: 107px;
    margin-bottom: 10px;
}

#box-select {
    grid-row: 1;
    grid-column: 2;
}

#box-timer-form {
    grid-row: 1;
    grid-column: 3;
    text-align: left;
}

#box-toolbar {
    display: grid;
    padding: 10px;
}

#credits {
    display: grid;
    padding: 10px;
    max-width: 1000px;
    width: auto;
    margin: 0 !important;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

#input-timer {
    grid-row: 1;
    grid-column: 3;
}

#input-timer::placeholder {
    color: white;
    text-align: center;
}

#next-phase-txt {
    display: inline;
}

#curr-phase-txt, #next-phase-txt {
    grid-row: 2;
    grid-column: 1;
    font-size: 18px;
    color: white;
}

#tool-options {
    display: grid;
    text-align: left;
    padding: 10px;
    border: 2px inset rgba(170, 0, 0, 0.0);
}

#phase-select {
    grid-row: 1;
    grid-column: 1;
}

#phase-select, #box-select {
    text-align: left;
    margin: 0;
    padding: 10px;
    width: 343px;
    display: inline-block;
}

#phases, #boxes {
    text-align: center;
    margin-left: 5%;
    text-align-last: center;
    width: 90%;
    height: 40px;
}

#phases option, #boxes option {
    background-color: rgb(50, 50, 50);
    font-size: 1.0em;
    height: 40px;
}

#phase-info {
    display: grid;
    padding: 10px;
    border: 2px inset rgba(170, 0, 0, 0.70);
}

#reset-timer {
    grid-row: 2;
    grid-column: 2;
    outline: none;
}

#reset-timer:active {
    background-color: rgba(170, 0, 0, 0.70);
}

#robust-grow, #decent-grow {
    margin: 0;
    text-shadow: 1px 1px black;
    color: white;
    width: 100%;
}

#robust-grow thead, #decent-grow thead {
    text-shadow: 1px 1px black;
    color: white;
    text-align: left;
}

#robust-grow thead tr td, #decent-grow thead tr td {
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#robust-grow tbody tr td, #decent-grow tbody tr td {
    padding: 0;
    text-align: center;
    font-size: 15px;
    border: none;
    width: 14%;
}

#robust-grow tbody tr:nth-child(odd) {
    background-image: radial-gradient(circle, rgba(0, 187, 0, 0.4) 80%, rgba(170, 0, 0, 0.0) 100%);
}

#robust-grow tbody tr:nth-child(even) {
    background-image: radial-gradient(circle, rgba(0, 205, 0, 0.2) 80%, rgba(170, 0, 0, 0.0) 100%);
}

#decent-grow tbody tr:nth-child(odd) {
    background-image: radial-gradient(circle, rgba(90, 90, 90, 0.5) 80%, rgba(90, 90, 90, 0.0) 100%);
}

#decent-grow tbody tr:nth-child(even) {
    background-image: radial-gradient(circle, rgba(90, 90, 90, 0.20) 80%, rgba(90, 90, 90, 0.0) 100%);
}

#shroom-farm {
    display: block;
}

#shroom-farm td {
    width: auto;
}

#start-timer {
    grid-row: 1;
    grid-column: 2;
    outline: none;
}

#set-timer {
    grid-row: 2;
    grid-column: 3;
    outline: none;
}

#set-timer:active {
    background-color: rgba(170, 0, 0, 0.70);
}

#timer-toggle {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 160px;
    height: 90%;
    background: radial-gradient(ellipse, rgba(127, 0, 0, 0.0) 0%, rgba(205, 0, 0, 0.5) 50%, rgba(205, 0, 0, 0.0) 75%);
    color: white;
    border: 0 inset rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 20px;
    font-family: "FreeSerif", serif;
    outline: none;
}

#timer-toggle:hover {
    background-image: radial-gradient(circle, rgba(30, 30, 30, 0.0) 0%, rgba(30, 30, 30, 0.7) 25%, rgba(30, 30, 30, 0.0) 50%, rgba(170, 0, 0, 0.0) 50%, rgba(170, 0, 0, 0.7) 75%, rgba(170, 0, 0, 0.0) 90%);
}

#timer-toggle:active {
    background-image: radial-gradient(circle, rgba(170, 0, 0, 0.0) 0%, rgba(170, 0, 0, 0.7) 25%, rgba(170, 0, 0, 0.0) 50%, rgba(30, 30, 30, 0.0) 50%, rgba(30, 30, 30, 0.7) 75%, rgba(30, 30, 30, 0.0) 90%);
}

#toggle-area {
    grid-row: 1;
    grid-column: 1;
    border-right: 2px inset rgba(170, 0, 0, 0.70);
    margin-right: 10px;
    height: 100%;
}

#timer-area {
    display: none;
    width: auto;
}

#timer-nums, #timer-shrooms, #start-timer, #reset-timer, #set-timer, #input-timer {
    margin: 20px;
    width: 204px;
    height: 36px;
    padding: 0;
    text-align: center;
}

#timer-nums {
    grid-row: 1;
    grid-column: 1;
}

#timer-shrooms {
    grid-row: 2;
    grid-column: 1;
}

#timer-ctrl {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    text-align: center;
}

#timer-display-area {
    grid-column: 1;
    grid-row: 3;
}

#phase-section-curr {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    padding: 10px;
}

#phase-section-next {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding: 10px;
}

#wrapper {
    width: auto;
    height: max-content;
    margin-left: 20%;
    margin-right: 20%;
}